<h3 class="title">Eager Loading, Lazy Loading, and Pre-Loading Demo</h3>
<div class="row">
  <div class="col-sm-4">
    <a class="btn btn-primary btn-md" routerLink="eager-loading">Eager Loading</a>
  </div>
  <div class="col-sm-4">
    <a class="btn btn-info btn-md" routerLink="lazy-loading">Lazy Loading</a>
  </div>
  <div class="col-sm-4">
    <a class="btn btn-secondary btn-md" routerLink="pre-loading">Pre Loading</a>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
